@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@import "mixins";

* {
    margin: 0;
    padding: 0;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

body {
   font-family: "Roboto", sans-serif;
   background: #fff;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #212325;
    font-family: "Source Sans 3", sans-serif;
}

p {
    font-family: "Source Sans 3", sans-serif;
    font-size: 20px;
    margin-bottom: 30px;
    color: #494C4D;
}

img {
    transition: all 500ms ease;

    &:hover {
        transform: scale(1.05);
    }
}

.menu {
    position: absolute;
    width: 25%;
    top: 0px;
    background: #f8efef;
    transform: translateX(-350%);
    transition: transform 0.3s ease;
    
    @media (max-width:400px) {
        width: 40%;
    }

    &.open {
        transform: translateX(-5%);
    }

    &.open ~ .main__footer {
        transform: translateX(13%) scale(0.8);
        height: 100vh;

        @media (max-width:400px) {
            transform: translateX(20%) scale(0.6);;
        }
    }
    
        .menu_head {
            padding:20px;
            padding-left: 30%;
            background: #e7e2e2;

            @media (max-width:820px) {
                padding-left: 10%;
            }

            input {
                padding: 15px;
                border-radius: 7px;
                border: none;
                width: 90%;
                font-size: 15px;
                color: #000;
                cursor: pointer;
                transition: all 1000ms ease;

                &:hover {
                    background: #ccc;
                }

                @media (max-width:600px) {
                    padding: 10px;
                    font-size: 10px;
                }
            }
        }

        .main {
            margin:90px;
            margin-left: 30%;
            margin-right: 5%;

            @media (max-width:820px) and (min-width:600px) {
                margin-left: 15%;
            }
            @media (max-width:600px) {
                margin:40px;
                margin-left: 15%;
                margin-right: 5%;
            }

            span {
                font-size: 30px;
                font-weight: 600;
                padding-bottom: 10px;
                border-bottom: 4px solid #609CF5;
                border-radius: 2px;

                @media (max-width:1700px) {
                    font-size: 25px;
                }
            }

            nav {
                margin: 35px 0;

                a {
                    font-size: 20px;
                    text-transform: uppercase;
                    display: flex;
                    flex-direction: column;
                    padding-top: 40px;
                    padding-bottom: 30px;
                    border-bottom:2px solid #ccc;
                    cursor: pointer;

                    @media (max-width:700px) {
                        font-size: 15px;
                    }

                    &:hover {
                        color: blue;
                    }
                }
            }

            .menu_main_section {

                span {
                    @media (max-width:820px) and (min-width:600px) {
                        font-size: 25px;
                        line-height: 50px;
                    }
                    @media (max-width:600px) {
                        font-size: 13px;
                    }
                }

                article {
                    border-bottom: 2px solid #ccc;
                    padding-bottom: 15px;
                    margin: 30px 0;
                    overflow: hidden;

                    @media (max-width:600px) {
                        margin: 15px 0px;
                    }

                    &:first-of-type {
                        margin-top: 80px;

                        @media (max-width:600px) {
                            margin-top: 30px;
                        }
                    }

                    img {
                        width: 100%;
                        height: 200px;
                        border-radius: 10px;
                        margin-bottom: 20px;

                        @media (max-width:600px) {
                            height: 100px;
                            margin-bottom: 10px;
                        }
                    }

                    p {
                        @media (max-width:600px) {
                            font-size: 12px;
                            margin-bottom: 10px;
                        }
                    }

                    button {
                        @include btn;

                        @media (max-width:600px) {
                            font-size: 10px;
                            padding: 15px 20px;
                            margin: 0;
                        }
                    }
                }
            }

            footer {
               margin:80px 0;

               @media (max-width:600px) {
                    margin: 30px 0;
                }

               p {
                    margin: 50px 0;

                    @media (max-width:820px) and (min-width:600px) {
                        font-size: 15px;
                    }
                    @media (max-width:600px) {
                        font-size: 12px;
                        margin-top: 35px;
                        margin-bottom: 10px;
                    }
                }

               .footer_menu {
                    display: flex;
                    flex-direction: column;

                    div {
                        display: flex;
                        border-bottom:2px solid #ccc;
                        align-items: center;
                        gap: 30px;

                        i {
                            color: #609CF5;
                            font-size: 30px;

                            @media (max-width:820px) {
                                font-size: 20px;
                            }
                        }

                        p {
                            margin:30px 0;

                            @media (max-width:820px) and (max-width:600px) {
                                font-size: 15px;
                            }
                            @media (max-width:600px) {
                                font-size: 12px;
                                margin: 15px 0;
                                margin-left: -20px;
                            }
                        }
                    }
                }
            }
        }
}

header {
    max-width: 95%;
    margin:20px 2.5%;
    
    i {
        font-size: 30px;
        color: #609CF5;
        cursor: pointer;
    }
}

.main__footer {
    transform-origin: top center;
    max-width: 90%;
    margin: 30px 5%;
    transition: transform 0.3s ease;

    main {
        .title {
            font-size: 25px;
            font-weight: 600;
            padding-bottom: 10px;
            border-bottom: 4px solid #609CF5;
            border-radius: 2px;

            @media (max-width:400px) {
                font-size: 20px;
            }

            .smi {
                font-size: 32px;
                font-weight: 700;
                text-transform: uppercase;
            }

            .portal {
                font-size: 24px;
                font-weight: 600;
                text-transform: uppercase;
            }
        }

        .head_section {
            margin-top: -40px;
            padding: 90px 0px;
            border-bottom:2px solid #ccc ;
            margin-bottom: 60px;

            .section1_display {
                display: flex;
                justify-content: space-between;
                gap: 40px;
                overflow: hidden;

                @media (max-width:800px) {
                    flex-wrap: wrap-reverse;
                }

                h1 {
                    font-size:70px;
                    margin-bottom: 25px;
                    line-height: 80px;
                    color: #212325;

                    @media (max-width:1200px) and (min-width:800px) {
                        font-size: 40px;
                        line-height: 60px;
                    }
                    @media (max-width:800px) and (min-width: 450px) {
                        font-size: 50px;
                        line-height: 60px;
                    }
                    @media (max-width:450px) {
                        font-size: 40px;
                        line-height: 50px;
                    }
                }

                h4 {
                    font-size: 20px;
                    text-transform: uppercase;
                    font-weight: 400;
                    margin-bottom: 30px;

                    @media (max-width:1100px) and (min-width:800px) {
                        font-size: 15px;
                    }
                }

                p {
                    @media (max-width:1100px) and (min-width:800px) {
                        font-size: 15px;
                    }
                }

                button {
                    @include btn;
                    padding: 20px 50px;

                    @media (max-width:1200px) and (min-width:800px) {
                        font-size: 15px;
                        padding: 15px 30px;
                    }
                }

                img {
                    width: 830px;
                    max-height: 500px;
                    border-radius: 10px;

                    @media (max-width:1400px) {
                        height: 600px;
                        width: 750px;
                    }
                    @media (min-width:1000px) and (max-width:1400px) {
                        height: 400px;
                        width: 550px;
                    }
                    @media (max-width:1000px) and (min-width:800px) {
                        height: 500px;
                        width: 450px;
                    }
                    @media (max-width:800px) {
                        max-width: 100%;
                        height: 350px;
                    }
                }
            }
        }

        .main_section {
            padding-bottom: 60px ;
            border-bottom:2px solid #ccc ;

            .card {
                @media (min-width: 1400px) {
                    margin-top: 50px;
                }

                .card_main {
                    display: flex;
                    justify-content: space-between;
                    border-bottom:2px solid #ccc;

                    @include adaptCardMain;

                    div {
                        padding-bottom: 50px;
                        overflow: hidden;

                        &:first-of-type {
                            padding-right: 40px;
                            border-right: 2px solid #ccc;

                            @media (max-width:1400px) {
                                border: 0;
                                padding: 50px 0;
                            }
                        }

                        &:last-of-type {
                            padding-left: 40px;

                            @media (max-width:1400px) {
                                padding: 0;
                            }
                        }

                        img {
                            width: 100%;
                            height: 350px;

                           @include imgCard;
                        }
                        
                        h3 {
                            font-size: 30px;
                            margin: 20px 0px;

                            @media (max-width:500px) {
                                font-size: 20px;
                            }
                        }

                        p {
                            @media (max-width:500px) {
                                font-size: 15px;
                            }
                        }

                        button {
                            @include btn;

                            @media (max-width:500px) {
                                font-size: 15px;
                                padding: 15px 30px;
                                margin-top: 0;
                            }
                        }
                    }
                }

                .card_main-2 {
                    display: flex;
                    justify-content: space-between;
                    border-bottom:2px solid #ccc;

                    @include adaptCardMain;

                    div {
                        padding:50px 0px;
                        overflow: hidden;
                        
                        &:first-of-type {
                            padding-right: 40px;
                            border-right: 2px solid #ccc;

                            @media (max-width:1400px) {
                                border: 0;
                                padding: 50px 0;
                            }
                        }

                        &:last-of-type {
                            padding-left: 40px;

                            @media (max-width:1400px) {
                                padding: 0;
                            }
                        }

                        img {
                            width: 100%;
                            height: 350px;

                            @include imgCard;
                        }
                        
                        h3 {
                            font-size: 30px;
                            margin: 20px 0px;

                            @media (max-width:500px) {
                                font-size: 20px;
                            }
                        }

                        p {
                            @media (max-width:500px) {
                                font-size: 15px;
                            }
                        }

                        button {
                            @include btn;

                            @media (max-width:500px) {
                                font-size: 15px;
                                padding: 15px 30px;
                                margin-top: 0;
                            }
                        }
                    }
                }

                .card_main-3 {
                    display: flex;
                    justify-content: space-between;
                    
                    @include adaptCardMain;

                    div {
                        padding-top:50px;
                        overflow: hidden;
                        
                        &:first-of-type {
                            padding-right: 40px;
                            border-right: 2px solid #ccc;

                            @media (max-width:1400px) {
                                border: 0;
                                padding: 50px 0;
                            }
                        }

                        &:last-of-type {
                            padding-left: 40px;

                            @media (max-width:1400px) {
                                padding: 0;
                            }
                        }

                        img {
                            width: 100%;
                            height: 350px;

                            @include imgCard;
                        }
                        
                        h3 {
                            font-size: 30px;
                            margin: 20px 0px;

                            @media (max-width:500px) {
                                font-size: 20px;
                            }
                        }

                        p {
                            @media (max-width:500px) {
                                font-size: 15px;
                            }
                        }

                        button {
                            @include btn;

                            @media (max-width:500px) {
                                font-size: 15px;
                                padding: 15px 30px;
                                margin-top: 0;
                            }
                        }
                    }
                }
            }
        }

        .footer_section {
            padding: 40px 0px;

            .card-flex {
                display: flex;
                justify-content: space-between;
                gap: 40px;
                flex-wrap: wrap;
                overflow: hidden;

                > div {
                    width: calc(25% - 30px);

                    @media (max-width:900px) {
                        width: calc(50% - 20px);
                    }
                    @media (max-width:500px) {
                        width: 100%;
                    }
                }

                img {
                    width: 100%;
                    height: 250px;
                }

                h3 {
                    font-size: 20px;
                    padding: 20px 0px;
                }

                button {
                    @include btn;
                    padding: 10px 15px;
                    font-size: 15px;

                    @media (max-width: 900px) {
                        margin-top: 0;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }

    footer {

        span {
            font-size: 25px;
            font-weight: 600;
            padding-bottom: 10px;
            border-bottom: 4px solid #609CF5;
            border-radius: 2px;
        }

        .footer-flex {
            padding: 80px 0px;
            display: flex;
            justify-content: space-between;
            gap: 40px;

            @media (max-width: 900px) {
                flex-wrap: wrap;
            }

            .flex {
                display: flex;
                justify-content: space-between;
                gap: 30px;
                align-items: center;

                i {
                    font-size: 50px;
                    color:#609CF5;

                    @media (max-width: 400px) {
                        font-size: 40px;
                    }
                }

                h3 {
                    font-size: 25px;
                    margin-bottom: 20px;

                    @media (max-width: 400px) {
                        font-size: 20px;
                    }
                }

                p {
                    margin: 0;

                    @media (max-width: 400px) {
                        font-size: 15px;
                    }
                }
            }
        }
    }
}